* {
	font-family: sans-serif;
}

#result {
	font-family: monospace;
	width: 600px;
	height: 600px;
	border: 4px dashed gray;
	white-space: pre;
}

input.xdiconnect {
	background-image: url(/images/logo-connect.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 46px;
}

button {
	padding: 15px;
}

pre {
	font-family: Courier New, monospace;
}

